h1 {
    font-size: 50pt;
    text-align: left;
    color: white;
}

a:link {
    color: darkgray;
}

a:hover {
    color: white;
}

a:visited {
    color: darkgray;
}

.banner-text {
    font-size: 18;
    text-align: left;
    color: white;
}

.banner {
    position: relative;
    background-color: black;
    width: fit-content;
    padding: 1%;
}

.banner-logos{
    height: 2.5vh;
    width: 2.5vh;
}

.banner-image{
    position: relative;
    height: 28vh;
    width: 28vh;
    float: right;
    top: -17.5vh;
}

.sidebar {
    position: relative;
    float: left;
    background-color: darkgray;
    margin-top: 1%;
    padding: 2%;
    width: 100px;
    height: 65vh;
}

.image {
    position: relative;
    height: 15vh;
    width: 15vh;
    margin: 2px;
    left: -3vh;

}